.countdown-widget {
  /* Change to relative to scroll with the page */
  position: relative;
  /* Adjust this value based on the height of your navbar */
  width: 200px;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;  /* Reasonable value to ensure visibility */
  /* Remove bottom margin */
  margin-bottom: 0;
}

.countdown-widget h3 {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

.countdown-widget p {
  font-size: 14px;
  color: #555;
  font-weight: bold; /* Bold the countdown text */
}

.countdown-widget .countdown {
  font-size: 20px;
  color: #333;
  font-weight: bold;
}
