.widgets-container {
  position: absolute;
  top: 33vh; /* Position it just below the BackgroundCarousel */
  right: 20px; /* Adjust this value to position the widgets on the right side */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Add gap between widgets */
}

.content-container {
  margin-top: 33vh; /* Ensure it starts just below the BackgroundCarousel */
  padding: 20px;
  height: 67vh; /* Take up the bottom two-thirds of the page */
  overflow-y: auto; /* Allow scrolling if content overflows */
}

.navbar {
  margin-bottom: 0; /* Adjust this value to reduce vertical space between navbar and carousel */
}

.carousel {
  margin-bottom: 0; /* Adjust this value to reduce vertical space between carousel and widgets */
}